.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bloco{
  max-width: 500px;
  padding:20px;
  background-color: #282c34;
  color:#fff;
}
.alinhar-centro{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}